<div class="cart-drawer-container">
  <div class="cart-drawer-overlay"></div>
  <div class="cart-drawer">
    <div class="cart-drawer-inner{% if cart == empty %} is-empty{% endif %}" id="cart-drawer-inner">
      <div class="cart-drawer-header">
        <div class="cart-drawer-header-top">
          <span class="cart-drawer-header-title">Your cart</span>
          <a href="#" class="cart-drawer-clear">Clear</a>
          <button type="button" class="cart-drawer-header-close">
            <span class="material-symbols-rounded icon">close</span>
          </button>
        </div>

        <div class="cart-header-labels">
          <span class="cart-header-label">Product</span>
          <span class="cart-header-label">Total</span>
        </div>
      </div>
      {% if cart == empty %}
        <div class="cart-empty">
          <span class="cart-empty-slogan">Your cart is empty</span>
        </div>
      {% else %}
        <div class="cart-items">
          <form
            action="{{ routes.cart_url }}"
            id="cart-drawer-form"
            class="cart-drawer-items-form"
            method="post"
          >
            {% for item in cart.items %}
              <div class="cart-item">
                {% if item.image %}
                  <div class="cart-item-image">
                    <a href="{{ item.url }}" class="" aria-hidden="true">
                      <img
                        src="{{ item.image | image_url: width: 300 }}"
                        alt="{{ item.product.title }}"
                        loading="lazy"
                        width="150"
                      >
                    </a>
                  </div>
                {% endif %}
                <div class="cart-item-info">
                  <a href="{{ item.url }}" class="cart-item-title">
                    {{ item.product.title }}
                  </a>
                  <div class="cart-item-price">
                    {{ item.original_price | money }}
                  </div>
                  {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
                    <div class="cart-item-options">
                      {% if item.product.has_only_default_variant == false %}
                        {%- for option in item.options_with_values -%}
                          <div class="cart-item-option">
                            <span class="cart-item-option-name">{{ option.name }}:</span>
                            <span class="cart-item-option-value">
                              {{ option.value -}}
                              {%- unless forloop.last %}, {% endunless %}
                            </span>
                          </div>
                        {%- endfor -%}
                      {% endif %}
                      {%- for property in item.properties -%}
                        {% unless property.first == '_Free' %}
                          <div class="cart-item-option">
                            <span class="cart-item-option-name">{{ property.first }}:</span>
                            <span class="cart-item-option-value">
                              {{ property.last -}}
                              {%- unless forloop.last %}, {% endunless %}
                            </span>
                          </div>
                        {% endunless %}
                      {%- endfor -%}
                    </div>
                  {%- endif -%}
                </div>
                <div class="cart-item-total-price">
                  {{ item.original_line_price | money }}
                </div>
                <div class="product-quantity cart-item-quantity">
                  <div class="cart-item-quantity-inner">
                    <div class="product-quantity-selector{% if item.properties._Free == 'true' %} product-quantity-selector-hide{% endif %}">
                      <button
                        class="product-quantity-button cart-item-quantity-button"
                        type="button"
                        data-action="decrease"
                      >
                        <span class="material-symbols-rounded product-quantity-button-icon"> remove </span>
                      </button>
                      <input
                        class="product-quantity-input cart-item-quantity-input"
                        type="number"
                        name="quantity"
                        min="1"
                        id="{{ 'cart-item-quantity-input-' | append: item.id }}"
                        value="{{ item.quantity }}"
                        form="cart-drawer-form"
                        data-item-variant-id="{{ item.variant.id }}"
                        data-index="{{ item.index | plus: 1 }}"
                        {% if item.properties._Free == 'true' %}
                          data-free-item="true"
                        {% endif %}
                      >
                      <button
                        class="product-quantity-button cart-item-quantity-button"
                        type="button"
                        data-action="increase"
                      >
                        <span class="material-symbols-rounded product-quantity-button-icon"> add </span>
                      </button>
                    </div>
                    <div class="cart-item-remove{% if item.properties._Free == 'true' %} no-product-quantity{% endif %}">
                      <button
                        type="button"
                        class="cart-item-remove-button"
                        id="cart-item-remove-button-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                      >
                        <span class="material-symbols-rounded icon">delete</span>
                      </button>
                    </div>
                  </div>
                  <div class="cart-item-error-container">
                    <span class="material-symbols-rounded icon"> error </span>
                    <span class="cart-item-error-message"></span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </form>
        </div>
        <div class="cart-footer">
          <div class="cart-footer-subtotal">
            <span class="cart-footer-subtotal-title">Subtotal</span>
            <span class="cart-footer-subtotal-value">{{ cart.total_price | money_with_currency }}</span>
          </div>
          {% if shop.taxes_included %}
            <div class="cart-footer-tax">
              <span class="cart-footer-tax-text">Tax included and shipping calculated at checkout</span>
            </div>
          {% endif %}
          <div class="cart-checkout">
            <button
              type="submit"
              id="cart-drawer-checkout-button"
              class="btn cart-checkout-button"
              name="checkout"
              form="cart-drawer-form"
              {% if cart == empty %}
                disabled
              {% endif %}
            >
              Check out
            </button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
