<header class="main-header">
  <div class="container">
    <div class="main-header-inner">
      <div class="mobile-nav-trigger-container">
        <a href="#" title="Navigation" class="mobile-nav-trigger">
          <span class="material-symbols-rounded"> menu </span>
        </a>
      </div>
      <div class="logo-container">
        <a href="/" title="Purple Owl Store" class="logo-shop-name-link">
          <span class="logo-shop-name">Purple Owl</span>
        </a>
      </div>
      <div class="nav-desktop-container">
        <nav>
          <ul>
            {% for link in linklists['main-menu'].links %}
              <li>
                <a href="{{ link.url }}" title="{{ link.title }}" class="nav-link">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="icons-container">
        <ul>
          <li>
            {% comment %}
              <a href="{{ routes.cart_url }}" title="Cart" class="icon-link header-cart-drawer-button">
                <span class="material-symbols-rounded icon"> shopping_cart </span>
                {%- if cart != empty -%}
                  <div class="header-cart-drawer-button-count">
                    <span aria-hidden="true">{{ cart.item_count }}</span>
                  </div>
                {%- endif -%}
              </a>
            {% endcomment %}
            {% render 'header-cart-drawer-button' %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-mobile-container">
    <a href="#" title="Close" class="nav-mobile-close">
      <span class="material-symbols-rounded"> close </span>
    </a>
    <nav>
      <ul>
        <li>
          <a href="/" title="Home" class="nav-link">Home</a>
        </li>
        <li>
          <a href="/collections/all" title="Shop" class="nav-link">Shop</a>
        </li>
        <li>
          <a href="/about" title="About" class="nav-link">About</a>
        </li>
        <li>
          <a href="/contact" title="Contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
