{% assign active_filters_count = 0 %}

<div class="main-collection-products" id="main-collection-products">
  <div class="loading-overlay"></div>
  <div class="collection-sort-filter-mobile-header">
    <div class="container">
      <div class="collection-sort-filter-mobile-header-inner">
        <a href="#" title="Filter and sort" class="collection-sort-filter-mobile-drawer-button">
          <span class="material-symbols-rounded icon"> tune </span>
          <span>Filter and sort</span>
        </a>
        <span class="collection-sort-filter-mobile-header-results-counter collection-filters-results-counter">
          {% if collection.products_count != collection.all_products_count %}
            {{ collection.products_count }} of
          {% endif %}
          {{ collection.all_products_count }}
          {% if collection.all_products_count > 1 %}
            products
          {% else %}
            product
          {% endif %}
        </span>
        <div class="collection-sort-filter-mobile-header-active-filters">
          {% render 'collection-active-filters', collection: collection %}
        </div>
      </div>
    </div>
  </div>
  <div id="collection-filters" class="collection-filters" data-section-id="{{ section.id }}">
    <div class="collection-filters-mobile-header">
      <span class="filters-mobile-header-title">Filter and sort</span>
      <span class="filters-mobile-header-results-counter collection-filters-results-counter">
        {% if collection.products_count != collection.all_products_count %}
          {{ collection.products_count }} of
        {% endif %}
        {{ collection.all_products_count }}
        {% if collection.all_products_count > 1 %}
          products
        {% else %}
          product
        {% endif %}
      </span>
      <a href="#" class="filters-mobile-header-close" title="Close">
        <span class="material-symbols-rounded icon">close</span>
      </a>
    </div>
    <div class="collection-filters-form-mobile-outer">
      <div class="container">
        <form class="collection-filters-form">
          <div class="filter-by-container">
            <span class="filter-by-title">Filter by: </span>

            {% for filter in collection.filters %}
              <div data-filter-index="{{ forloop.index }}" class="filter-by-group">
                <button class="filter-by-group-header">
                  <span class="filter-by-group-title">
                    {{ filter.label }}
                  </span>
                  <span class="material-symbols-rounded filter-by-group-header-icon-desktop"> expand_more </span>
                  <span class="material-symbols-rounded filter-by-group-header-icon-mobile"> chevron_right </span>
                </button>
                <div class="filter-by-group-options">
                  <div class="filter-by-group-options-header-mobile">
                    <a
                      href="#"
                      title="{{ filter.label }}"
                      class="filter-by-group-options-header-mobile-back-button"
                    >
                      <span class="material-symbols-rounded"> chevron_left </span>
                      {{ filter.label }}
                    </a>
                  </div>
                  {% case filter.type %}
                    {% when 'bolean', 'list' %}
                      <div class="filter-by-group-options-header">
                        <span class="selected-filters-counter">{{ filter.active_values.size }} selected</span>
                        <a
                          href="{{ filter.url_to_remove }}"
                          title="Reset"
                          class="filter-by-group-reset-button filters-reset-button"
                          >Reset</a
                        >
                      </div>
                      <ul class="filter-by-group-list">
                        {% for value in filter.values %}
                          <li>
                            <label
                              for="input-{{ filter.param_name }}-{{ forloop.index }}"
                              class="{% if value.count == 0 and value.active == false %}filter-disabled{% endif %}"
                            >
                              <input
                                type="checkbox"
                                name="{{ value.param_name }}"
                                value="{{ value.value }}"
                                id="input-{{ filter.param_name }}-{{ forloop.index }}"
                                {% if value.active %}
                                  checked
                                {% endif %}
                                {% if value.count == 0 and value.active == false %}
                                  disabled
                                {% endif %}
                              >
                              <div class="filter-by-list-custom-checkbox">
                                <span class="material-symbols-rounded checkbox-outline">check_box_outline_blank</span>
                                <span class="material-symbols-rounded checkbox-check">check</span>
                              </div>
                              {{ value.label }} ({{ value.count }})
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                    {% when 'price_range' %}
                      <div class="filter-by-group-options-header">
                        <span class="range-highest">
                          The highest price is {{ cart.currency.symbol -}}
                          {{- filter.range_max | money_without_currency | replace: ',', '' -}}
                        </span>
                        <a
                          href="{{ filter.url_to_remove }}"
                          title="Reset"
                          class="filter-by-group-reset-button filters-reset-button"
                          >Reset</a
                        >
                      </div>
                      <div class="filter-by-group-price-range">
                        <div class="range-min">
                          <label for="input-{{ filter.min_value.param_name }}">Min:</label>
                          <span>{{ cart.currency.symbol }}</span>
                          <input
                            type="number"
                            name="{{ filter.min_value.param_name }}"
                            id="input-{{ filter.min_value.param_name }}"
                            {% if filter.min_value.value %}
                              value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                            {% endif %}
                            placeholder="0"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >
                        </div>
                        <div class="range-max">
                          <label for="input-{{ filter.max_value.param_name }}">Max:</label>
                          <span>{{ cart.currency.symbol }}</span>
                          <input
                            type="number"
                            name="{{ filter.max_value.param_name }}"
                            id="input-{{ filter.max_value.param_name }}"
                            {% if filter.max_value.value %}
                              value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                            {% endif %}
                            placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >
                        </div>
                      </div>
                  {% endcase %}
                  <div class="collection-filters-mobile-buttons">
                    <a
                      href="{{ filter.url_to_remove }}"
                      title="Reset"
                      class="filter-by-group-reset-button-mobile filters-reset-button"
                      >Reset</a
                    >
                    <a href="#" title="Apply" class="collection-filters-mobile-apply-button">Apply</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="sort-by-container">
            <span class="sort-by-title">Sort by: </span>
            {% assign currentSortOption = collection.sort_by | default: collection.default_sort_by %}
            <div class="sort-by-select-container">
              <select
                class="sort-by-select"
                name="sort_by"
              >
                {% for option in collection.sort_options %}
                  <option
                    value="{{ option.value }}"
                    {% if option.value == currentSortOption %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ option.name }}
                  </option>
                {% endfor %}
              </select>
              <span class="material-symbols-rounded"> expand_more </span>
            </div>
          </div>
          <div class="collection-filters-results-counter-desktop collection-filters-results-counter">
            {% if collection.products_count != collection.all_products_count %}
              {{ collection.products_count }} of
            {% endif %}
            {{ collection.all_products_count }}
            {% if collection.all_products_count > 1 %}
              products
            {% else %}
              product
            {% endif %}
          </div>
          {% render 'collection-active-filters', collection: collection %}
          <div class="collection-filters-mobile-buttons">
            <a
              href="{{ collection.url }}"
              title="Remove all"
              class="collection-filters-reset-remove-all-button filters-reset-button"
              >Remove all</a
            >
            <a href="#" title="Apply" class="collection-filters-mobile-apply-button">Apply</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="main-collection-products-grid">
    <div class="container">
      <div id="products-grid-container" class="products-grid-container" data-section-id="{{ section.id }}">
        {% if collection.products.size == 0 %}
          <p class="main-collection-no-products-found">We are sorry, but no products were found.</p>
        {% else %}
          {% paginate collection.products by 20 %}
            <div class="products-grid">
              {% for product in collection.products %}
                {% render 'product-thumbnail-po', product: product %}
              {% endfor %}
            </div>
            <div class="paginate-container">
              {{- paginate | default_pagination }}
            </div>
          {% endpaginate %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
