{%- capture product_images_sizes -%}
  (min-width: 1600px) 700px, (min-width: 1200px) 600px, (min-width: 768px) 1000px, (min-width: 320px) 500px, 100vw
{%- endcapture -%}
{% assign media_count = product.media.size %}
{% assign product_form_id = 'product-buy-form-' | append: section.id %}

<div class="product-main">
  <div class="container">
    <div class="product-main-inner">
      <div class="product-images">
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          <div class="product-variant-featured-media">
            <picture>
              <source
                media="(min-width: 1600px)"
                srcset="{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 800, height: 700 }}"
              >
              <source
                media="(min-width: 1200px)"
                srcset="{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 700, height: 600 }}"
              >
              <img
                src="{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 500, height: 500 }}"
                alt="{{ product.title }}"
                class="product-gallery-img"
              >
            </picture>
          </div>
        {% else %}
          {% if media_count > 1 %}
            <div class="product-gallery">
              <div class="glide">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    {% for media in product.media %}
                      <li class="glide__slide">
                        {% comment %}
                          {{
                            media.preview_image
                            | image_url: width: 2000
                            | image_tag: sizes: product_images_sizes, widths: '500, 600, 700, 1000'
                          }}
                        {% endcomment %}
                        <picture>
                          <source
                            media="(min-width: 1600px)"
                            srcset="{{ media.preview_image | image_url: width: 800, height: 700 }}"
                          >
                          <source
                            media="(min-width: 1200px)"
                            srcset="{{ media.preview_image | image_url: width: 700, height: 600 }}"
                          >
                          <img
                            src="{{ media.preview_image | image_url: width: 500, height: 500 }}"
                            alt="{{ product.title }}"
                            class="product-gallery-img"
                          >
                        </picture>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                  <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                    <span class="material-symbols-rounded"> chevron_left </span>
                  </button>
                  <span class="slides-status">
                    <span class="slides-status-current">1</span>
                    <span class="slides-status-divider">/</span>
                    <span class="slides-status-total">{{ media_count }}</span>
                  </span>
                  <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                    <span class="material-symbols-rounded"> chevron_right </span>
                  </button>
                </div>
              </div>
            </div>
          {% else %}
            <div class="product-featured-media">
              <picture>
                <source
                  media="(min-width: 1600px)"
                  srcset="{{ product.featured_media.preview_image | image_url: width: 800, height: 700 }}"
                >
                <source
                  media="(min-width: 1200px)"
                  srcset="{{ product.featured_media.preview_image | image_url: width: 700, height: 600 }}"
                >
                <img
                  src="{{ product.featured_media.preview_image | image_url: width: 500, height: 500 }}"
                  alt="{{ product.title }}"
                  class="product-gallery-img"
                >
              </picture>
            </div>
          {% endif %}
        {% endif %}
      </div>

      <div class="product-info">
        <h1 class="product-title">
          {{ product.title }}
        </h1>
        <div class="product-prices">
          {% if product.selected_or_first_available_variant.compare_at_price %}
            <span class="product-compare-at-price">
              {{ product.selected_or_first_available_variant.compare_at_price | money_with_currency }}
            </span>
          {% endif %}
          <span class="product-price">
            {{ product.selected_or_first_available_variant.price | money_with_currency }}
          </span>
          {%- if product.selected_or_first_available_variant.available == false -%}
            <small class="product-badge sold-out">Sold out</small>
          {% else %}
            {% if product.selected_or_first_available_variant.compare_at_price
                > product.selected_or_first_available_variant.price
            %}
              <small class="product-badge sale">Sale</small>
            {% endif %}
          {% endif %}
        </div>
        {% if shop.taxes_included %}
          <span class="product-tax-included">Tax included.</span>
        {% endif %}
        {% render 'product-main-variant-picker' %}
        <div class="product-quantity" data-url="{{ product.url }}" data-section="{{ section.id }}">
          <div class="product-quantity-title-container">
            {% assign cart_quantity = cart | item_count_for_variant: product.selected_or_first_available_variant.id %}
            <span class="product-quantity-title">Quantity</span>
            {% if cart_quantity > 0 %}
              <span class="product-quantity-in-cart">({{ cart_quantity }} in cart)</span>
            {% endif %}
          </div>
          <div class="product-quantity-selector">
            <button class="product-quantity-button" type="button" data-action="decrease">
              <span class="material-symbols-rounded product-quantity-button-icon"> remove </span>
            </button>
            <input
              class="product-quantity-input"
              type="number"
              name="quantity"
              min="1"
              id="{{ 'product-quantity-input-' | append: section.id }}"
              value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
              form="{{ product_form_id }}"
            >
            <button class="product-quantity-button" type="button" data-action="increase">
              <span class="material-symbols-rounded product-quantity-button-icon"> add </span>
            </button>
          </div>
        </div>
        {% comment %} {% if product.metafields.custom.extra_wrapping %} {% endcomment %}
        <div class="product-add-on">
          <input
            class="product-add-on-input"
            type="checkbox"
            name="properties[Extra wrapping]"
            id="{{ 'product-extra-wrapping-input-' | append: section.id }}"
            value="yes"
            form="{{ product_form_id }}"
          >
          <label
            class="product-add-on-label"
            for="{{ 'product-extra-wrapping-input-' | append: section.id }}"
          >
            <span class="product-add-on-label-checkbox">
              <span class="material-symbols-rounded icon"> done </span>
            </span>
            Add extra wrapping for this product?
          </label>
        </div>
        {% comment %} {% endif %} {% endcomment %}
        {% if product.metafields.custom.add_ons %}
          <div class="product-add-ons">
            <span class="product-add-ons-title">Add-ons</span>
            {% for add_on in product.metafields.custom.add_ons.value %}
              <div class="product-add-on">
                <input
                  class="product-add-on-input"
                  type="checkbox"
                  name="product-add-on-{{ forloop.index }}"
                  id="{{ 'product-add-on-input-' | append: add_on.id }}"
                  value="{{ add_on.first_available_variant.id }}"
                >
                <label
                  class="product-add-on-label"
                  for="{{ 'product-add-on-input-' | append: add_on.id }}"
                >
                  <span class="product-add-on-label-checkbox">
                    <span class="material-symbols-rounded icon"> done </span>
                  </span>
                  <div class="product-add-on-pic">
                    <picture>
                      <source
                        media="(min-width: 768px)"
                        srcset="{{ add_on.featured_image | image_url: width: 50, height: 50 }}"
                      >
                      <img
                        src="{{ add_on.featured_image | image_url: width: 40, height: 40 }}"
                        alt="{{ add_on.title }}"
                        class="product-add-on-pic-file"
                      >
                    </picture>
                  </div>
                  <span class="product-add-on-label-title">{{ add_on.title }}</span>
                  <span>-</span>
                  <span class="product-add-on-label-price">{{ add_on.price | money_with_currency }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <div class="regional-out-of-stock-status">
          {% assign out_of_stock_classes = '' %}
          {% if product.selected_or_first_available_variant.metafields.custom.out_of_stock_for_japan %}
            {% assign out_of_stock_classes = out_of_stock_classes | append: ' out-of-stock-for-japan ' %}
          {% endif %}
          <span class="regional-out-of-stock-status-classes {{ out_of_stock_classes }}"></span>
        </div>
        {% if product %}
          <div class="product-buy">
            <div class="product-buy-error-container">
              <span class="material-symbols-rounded icon"> error </span>
              <span class="product-buy-error-message"></span>
            </div>
            {% form 'product', product, id: product_form_id, class: 'product-buy-form', novalidate: 'novalidate' %}
              <input
                type="hidden"
                name="id"
                value="{{ product.selected_or_first_available_variant.id }}"
              >
              <button
                id="product-buy-atc-{{ section.id }}"
                type="submit"
                name="add"
                class="btn product-buy-atc"
                {% if product.selected_or_first_available_variant.available == false %}
                  disabled
                {% endif %}
              >
                <span>
                  {%- if product.selected_or_first_available_variant.available == false -%}
                    Sold out
                  {%- else -%}
                    Add to cart
                  {%- endif -%}
                </span>
              </button>
            {% endform %}
          </div>
        {% endif %}
        {%- if product.description != blank -%}
          <div class="product-description">
            {{ product.description }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
